body{
    margin: 0;
    padding:0 ;
    box-sizing: border-box;
}
.box{
    max-width: 400px;
    margin: 15% auto;
    padding:20px;
    background: #fff;
    box-shadow: 0 2px 6px 0 rgb(0 0 0 /12%);
}
.pass-box{
    position: relative;
}
.form-control{
    border-radius: unset;
    box-shadow: unset;
}
.btn{
    border-radius: unset;
}
.button{
    display: inline-block;
    /* margin-bottom: 0; */
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #425cbb ;
    display: block;
    width: 100%;

}
.fa{
position: absolute;
right: 10px;
margin-top: -23px;
cursor: pointer;
}
.fa-magic{
right:35px;
margin-top: -21px;
}